
.site-footer {
  position: relative;
  padding: 2rem 1rem;
  background: #000000;
  color: var(--text-color);
  text-align: center;
  z-index: 3;
  pointer-events: all;
}
.footer-social {
  margin-bottom: 2rem;
}
.footer-social .btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 1.5rem;
}
.footer-social .btn-list li {
  list-style: none;
}
.footer-note {
  font-size: 1.8rem;
  color: #bbb;
  margin-top: 1rem;
}
.footer-note i{
  font-size: 1.8rem;
  background: linear-gradient(
    270deg, 
    var(--text-color2),
    var(--text-color), 
    var(--text-color),  
    var(--text-color2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.1s ease;
}
.site-footer .btn-gradient {
  aspect-ratio: 1/1;
  padding: 1rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  color: rgba(255, 255, 255, 0.7);
  background: #333;
  font-size: 18px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.site-footer .btn-gradient i {
  font-size: 2rem;
}
.site-footer .btn-gradient:hover {
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
.site-footer .download:hover {
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af);
  box-shadow: 0 0 20px rgba(221, 42, 123, 0.9);
}
.site-footer .twitter:hover {
  background: #1da1f2;
  box-shadow: 0 0 20px rgba(0, 157, 255, 0.9);
}
.site-footer .linkedin:hover {
  background: #0077b5;
  box-shadow: 0 0 20px rgba(0, 119, 181, 0.9);
}
.site-footer .github:hover {
  background: #fafafa;
  color: #333;
  box-shadow: 0 0 20px rgba(240, 240, 240, 0.9);
}
.site-footer .gmail:hover {
  background: #d93025;
  box-shadow: 0 0 20px rgba(217, 48, 37, 0.9);
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.toast {
  visibility: hidden;
  max-width: 90%;
  width: fit-content;
  background: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  position: fixed;
  z-index: 999;
  left: 50%;
  bottom: 40px;
  font-size: 1.6rem;
  opacity: 0;
  transform: translateX(-50%) translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.toast.show {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.toast.success {
  background-color: #28a745;
}

.toast.error {
  background-color: #e63946;
}
