.landing_page {
  height: 100vh;
  width: 100%;
  background: var(--primary-bg);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  pointer-events: none;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  transform: scaleY(-1) translateY(51%);
  pointer-events: none;
  z-index: 0;
  opacity: 0.6;
}
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: all;
}
.hero {
  display: flex;
  flex-direction: row;
  padding: 0 5%;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  animation: fadeIn 1.5s ease-in forwards;
  z-index: 2;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}
.hero-left {
  flex: 1;
  max-width: 55%;
  text-align: left;
}
.hero-left h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 1;
}
.hero-left h1 span {
  font-size: 4rem;
  color: var(--text-color2);
  /* background: linear-gradient(270deg, var(--accent-color-1), var(--accent-color-2), var(--accent-color-1));
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlow 5s ease infinite; */
}
.hero-left p {
  font-size: 2.4rem;
  color: var(--text-color);
  margin-bottom: 3rem;
  max-width: 50ch;
}
.social-icons {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 3rem;
  pointer-events: all;
}
.hex-icon {
  aspect-ratio: 1/1;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.hex-icon:hover {
  filter: brightness(1.2);
}
.hex-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: var(--primary-bg);
  stroke: var(--text-color2);
  stroke-width: 1px;
  filter: drop-shadow(0 0 0.8rem var(--text-color2));
}
.hex-icon:hover .hex-bg {
  fill: var(--text-color);
  stroke: var(--text-color2);
}
.hex-icon i {
  position: relative;
  z-index: 1;
  font-size: 2.4rem;
  color: var(--text-color);
  transition: color 0.3s ease;
}
.hex-icon:hover i {
  color: var(--primary-bg);
}
.nv-project {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.5rem 2.5rem;
  font-weight: 700;
  font-size: 2rem;
  border-radius: 5rem;
  overflow: hidden;
  background: var(--text-color);
  color: var(--primary-bg);
  pointer-events: all;
  border: 2px solid var(--text-color2);
  box-shadow: 0 5px 20px var(--text-color2);
  transition: all 0.3s ease;
}
.nv-project:hover {
  background-image: linear-gradient(
    69.2deg,
    var(--text-color2) 25%,
    var(--text-color) 50%,
    var(--text-color) 75%,
    var(--text-color2) 100.3%
  );
  color: var(--primary-bg);
  border: 0.2rem solid var(--text-color2);
  box-shadow: 0 8px 25px var(--text-color2);
}
.hero-right {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 1024px) {
  .hero {
    gap: 2rem;
    padding: 0 4%;
  }
  .hero-left {
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-right {
    display: none;
  }
  .nv-project {
    padding: 0.8rem 2.5rem;
    font-size: 3rem;
  }
  .hex-icon {
    width: 8rem;
    height: 7rem;
  }
  .hex-icon i {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 4rem;
    justify-content: flex-start;
  }
  .hero-left {
    max-width: 100%;
  }
  .hero-left {
    order: 2;
    margin-top: 3rem;
  }
  .hero-left p {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .social-icons {
    justify-content: center;
  }
  video {
    object-fit: contain;
    opacity: 0.4;
  }
}
@media (max-width: 480px) {
  .hero-left h1,
  .hero-left h1 span {
    padding-left: 2rem;
    font-size: 3.5rem;
  }
  .nv-project {
    padding: 0.7rem 2rem;
    font-size: 2.5rem;
  }
}
