*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
  width: 100%;
}

.page_404 {
  height: 100vh;
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.page_404 h1{
  text-align: center;
  font-size: 80px;
}

.four_zero_four_bg {
  background-image: url(../images/funny-404-error-page-design.gif);
  background-repeat: no-repeat;
  height: 400px;
  background-position: center;
}

.page_404 h3 {
  font-size: 50px;
}

.page_404 p{
  font-size: 30px;
  padding: 10px;
}
button{
  width: 250px;
  border: 3px solid black;
  box-shadow: 1px 1px 20px 2px black;
  border-radius: 5px;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  padding: 5px;
}
button:hover{
  width: 250px;
  background: black;
  color: #fff;
  border: 3px solid #fff;

}