a,
li {
  text-decoration: none;
  list-style: none;
}
.resume {
  min-height: 100vh;
  height: max-content;
}
.resume .container {
  height: 100%;
  width: 95%;
  margin: auto;
  display: flex;
}
.resume .right {
  width: 80%;
  margin: 0; padding: 0;
  padding: 0 30px;
  
}
.resume .left {
  padding: 10px;
  padding-bottom: 20px;
  background-color: rgb(224, 224, 224);
  width: 20%;
  height: fit-content;
  margin: 2px;
  box-shadow: 2px 2px 10px black;
  border-radius: 2px;
}
.resume .left .image {
  background: black;
  background-image: url("../images/model.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px double white;
  height: 250px;
  width: 100%;
  box-shadow: 2px 5px 10px black;
}
.resume .left .about-res {
  height: 240px;
  padding: 20px 0px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-res ul {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-res ul li a,
.about-res ul li {
  color: black;
  width: 100%;
  padding: 2px;
  font-family: "kalam";
  text-align: left;
}
.resume .left .skill-res {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.resume .left .skill-res ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.resume .left .skill-res ul h3 {
  text-align: left;
  width: 100%;
}

.resume .left .skill-res li {
  font-family: "kalam";
  font-weight: 700;
  width: 100%;
  padding: 5px;
  text-align: left;
  text-transform: capitalize;
}
.resume .left .skill-res .bar-skills {
  height: 10px;
  width: 100%;
  background-color: black;
  border-radius: 5px;
}
.resume .left .skill-res .bar-skills .skill-prog {
  border-radius: 5px;
  height: 100%;
  background: rgb(5, 1, 62);
  background: linear-gradient(
    83deg,
    rgba(5, 1, 62, 1) 0%,
    rgba(0, 3, 255, 1) 20%,
    rgba(77, 0, 161, 1) 40%,
    rgba(197, 0, 208, 1) 60%,
    rgba(255, 0, 0, 1) 80%,
    rgba(255, 0, 0, 1) 100%
  );
}
.resume .left .lang {
  width: 100%;
  height: 100px;
  /* background-color: red; */
  text-align: left;
  padding: 15px;
  font-weight: bold;
}
.resume .left .lang p {
  padding: 5px;
}

.resume .right .edu {
  width: 100%;
  margin: 0;
  height: fit-content;
  padding: 10px;
}
.resume .right .edu ul {
  padding: 10px;
}
.edu ul li {
  font-family: "kalam";
  padding: 8px;
  font-weight: bold;
}

.resume .right .exp {
  width: 100%;
  margin: 0;
  height: fit-content;
  padding: 10px;
}
.resume .right .exp ul {
  padding: 10px;
}
.exp ul li {
  font-family: "kalam";
  padding: 8px;
  font-weight: bold;
}

.resume .right .cert {
  width: 100%;
  margin: 0;
  height: fit-content;
  padding: 10px;
}
.resume .right .cert ul {
  padding: 0 30px;
}
.cert ul li {
  list-style: disc;
  font-family: "kalam";
  padding: 5px 1px;
  font-weight: bold;
}
.resume .right .proj {
  width: 100%;
  margin: 0;
  height: fit-content;
  padding: 10px;
}
.resume .right .proj ul {
  padding: 0 30px;
}
.proj ul li a,
.proj ul li {
  list-style: disc;
  font-family: "kalam";
  padding: 5px 1px;
  font-weight: bold;
}
.proj ul li a{
  color: slategray;
}
footer{
  margin: 0;
}
@media screen and (max-width: 1250px) {
.resume .left{
  width: 40%;
}
}
@media screen and (max-width: 950px) {
  .resume .container{
    flex-direction: column;
  }
  .resume .left,
  .resume .right{
    width: 100%;
  }
  .resume .left{
    height: fit-content;
    font-size: 20px;
  }
  .resume .left .about-res,
  .resume .left .skill-res,
  .resume .left .lang{
    height: fit-content;
  }


  .resume .right{
    font-size: 20px;
    padding: 0;
    padding-right: 30px;
    word-wrap: break-word;
  }
  }