@import url("https://fonts.googleapis.com/css2?family=Julee&family=Marck+Script&family=Mulish:wght@400;500;600;700;800;900;1000&family=Open+Sans:wght@400;500;600;700;800&family=Permanent+Marker&family=Roboto:ital,wght@0,400;0,500;0,900;1,700&family=Satisfy&family=Unbounded:wght@400;500;600;700;800;900&display=swap");
/*
font-family: 'Julee', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Unbounded', cursive;

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
:root {
  /*  */
  --vw-width: 30vw;
  --vw-height: calc(var(--vw-width) / (1 / 1));
  /*  */
  --text-clr-1: #333;
  --text-clr-2: #f9f9f9;
  --bg-clr-3: #f9f6ee88;
  --bg-clr-2: #f9f6ee;
  --bg-clr-1: #131313;
  --fs-tri: #00dadea0;
  --ss-tri: #fb00ffc0;
  --ts-tri: #2bff88c0;
  --clr-g3-1: #2dccff;
  --clr-g3-2: #a55af0;
  --grad3-ini: var(--clr-g3-1) 5%, var(--clr-g3-2) 75%;
  --grad4-ini: var(--clr-g3-1) 5%, var(--clr-g3-2) 45%;

  /*  */
  --grad-1: linear-gradient(135deg, #00dade, #fb00ff);
  --grad-2: linear-gradient(-135deg, #003536, #510052);
  --grad-3: linear-gradient(67.2deg, var(--grad3-ini));
  --grad-4: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(74, 74, 74) 24.5%,
    rgb(35, 35, 35) 46.5%,
    rgb(0, 0, 0) 66.5%
  );
  --grad-4a: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(155, 155, 155) 24.5%,
    rgb(183, 183, 183) 46.5%,
    rgb(255, 255, 255) 66.5%
  );
  --grad-5: linear-gradient(
    179.4deg,
    rgb(12, 20, 69) -16.9%,
    rgb(71, 30, 84) 119.9%
  );
}
html {
  min-height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
  color-scheme: dark light;
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  width: 100%;
  background: var(--bg-clr-2) 100%;
  overflow-x: hidden;
}
section {
  height: 100vh;
  isolation: isolate;
  position: relative;
  padding-block: 4.5rem;
}
.blob2,
.blob{
  position: absolute;
  aspect-ratio: 1;
  width: 40rem;
  background: transparent;
  z-index: -2;
  
}
.blob{
  top: 5%;
  right: 5%;
}
.blob2{
  bottom: 5%;
  left: 5%;
}
.psudo-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--bg-clr-2);
  opacity: 90%;
}
/*  */
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--bg-clr-1);
  border-radius: 50rem;
}
::-webkit-scrollbar-thumb {
  background: #667eeab1;
  border-radius: 50rem;
}
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(
    to bottom,
    rgba(37, 208, 199, 1) 2%,
    rgba(165, 90, 240, 1) 62.7%
  );
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-button {
  display: none;
}
/*  */

.head {
  width: fit-content;
  padding: 1.5rem 1rem 1.5rem 0rem;
  text-align: center;
  font-size: 8rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.4rem;
  background: var(--grad-4);
  -webkit-background-clip: text;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  user-select: none;
}
.head b {
  -webkit-text-stroke: 0.2rem var(--bg-clr-1);
  -webkit-text-fill-color: var(--bg-clr-2);
}

/*  */
/* model */
.welcome {
  height: 100vh;
  width: 100%;
  padding: 0;
  background: var(--bg-clr-1);
}
.welcome #canvas {
  /* background-color: red; */
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  cursor: none;
}
.welcome-container {
  pointer-events: none;
  top: 0;
  padding-top: 7.2rem;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
.welcome-wrapper {
  height: fit-content;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 4.8rem;
}
.welcome-wrapper .text-wrapper {
  padding-inline: 1.6rem;
}
.welcome-wrapper .text-wrapper h2 {
  font-size: 3.6rem;
  font-weight: 800;
  color: #d1d1d1;
}
.welcome-wrapper .text-wrapper h1 {
  font-size: 5.2rem;
  font-weight: 900;
  color: var(--text-clr-2);
  font-family: "Mulish", sans-serif;
}
.welcome-wrapper .text-wrapper h1 i {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  padding-right: 10px;
  background: var(--grad-1);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.25rem transparent;
  color: var(--bg-clr-1);
  letter-spacing: 0.15rem;
}
.welcome-wrapper .text-wrapper p {
  font-size: 2rem;
  padding-block: 1.6rem;
  font-weight: 600;
  text-align: justify;
  color: #cacaca;
}
/* about Section */
.about {
  height: fit-content;
  width: 100%;
  padding-block: 3rem;
  background: linear-gradient(
    to bottom,
    var(--bg-clr-1) 15%,
    var(--bg-clr-2) 85%
  );
}
.about-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding-block: 6.5rem;
}

.about-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(135deg, #667eea 0%, #69349d 100%);
  z-index: -1;
  transform: skewY(3deg);
  padding-bottom: 4rem;
}
.about-wrapper {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.abt-img {
  aspect-ratio: 1;
  height: auto;
  width: 60rem;
  background: var(--grad-2);
  padding: 0.5rem;
  position: relative;
  border-radius: 050%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.abt-img img {
  aspect-ratio: 1;
  height: auto;
  border-radius: 50%;
  width: 100%;
}

.about-wrapper .text-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-inline: 1.6rem;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
}
.about-wrapper .text-wrapper h1 {
  width: 100%;
  padding-block: 0.625rem;
  font-size: 6rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.about-wrapper .text-wrapper p {
  font-size: 2rem;
  font-weight: 600;
}
.skills {
  min-height: 100vh;
  width: 100%;
}
.skills-container {
  height: 100%;
  width: 100%;
  position: relative;
}
.skills-wrapper {
  height: 80%;
  width: 80%;
  margin: 8% auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-wrapper .text-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 55%;
  padding-inline: 1.6rem;
  align-items: center;
  justify-content: center;
}
.skills-wrapper .text-wrapper p {
  font-size: 2rem;
  padding-block: 1.6rem;
  font-weight: 600;
  text-align: justify;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-clr-1);
}
.projects {
  height: fit-content;
  width: 100%;
}
.container-project {
  height: 100%;
  width: 100%;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  gap: 2rem;
}
.proj-item {
  height: 100%;
  padding: 3.2rem 2.4rem;
  display: flex;
  gap: 2rem;
}
.proj-img {
  position: relative;
  width: 45%;
  aspect-ratio: 3/2;
  overflow: hidden;
  border-radius: 1rem;
  background: var(--grad-1);
  padding: 0.25rem;
  /* -webkit-box-shadow: 5px 4px 21px 10px var(--clr-g3-2); */
  box-shadow: 0px 0px 21px 3px gray;
  user-select: none;
}
.proj-img img {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 100%;
  transition: 10s all ease;
  border-radius: 1rem;
}
.proj-img img:hover {
  object-position: bottom;
}
.proj-tech {
  position: absolute;
  bottom: 0.2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  isolation: isolate;
}
.proj-tech i {
  position: relative;
  background: var(--bg-clr-1);
  color: #e5e5e5;
  font-size: 1.8rem;
  font-weight: 700;
  font-style: normal;
  padding: 0.5rem 1.5rem;
  border-radius: 0.625rem 0.625rem 0rem 0;
  box-shadow: 0.1rem 0.1rem 1rem rgb(61, 61, 61);
}

.proj-item .text-wrapper {
  position: relative;
  color: #fff;
  width: 50%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1rem;
  overflow: hidden;
}
.proj-item .text-wrapper h1 {
  text-align-last: left;
  width: fit-content;
  padding-bottom: 0.125rem;
  font-size: 4.8rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #f9f9f9;
  -webkit-text-fill-color: unset;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  position: absolute;
  top: 0;
  background: var(--grad-4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.proj-item .text-wrapper p {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-clr-1);
}

.proj-links {
  width: 90%;
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*  */
.contact {
  height: 100vh;
  width: 100%;
  padding: 0;
  padding-top: 6.4rem;
  margin: 0;
  background: #000;
}
.contact-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-wrapper {
  height: 90%;
  width: 80%;
  margin: auto;
  display: flex;
  background: transparent;
  box-shadow: 0.3rem 0.3rem 0.8rem rgba(0, 0, 0, 0.516);
  border-radius: 2rem;
}
.contact-wrapper .ele-wrapper {
  padding: 3rem 1.8rem;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.ele-wrapper .note {
  height: fit-content;
  width: 100%;
  position: relative;
  padding: 6rem 1.5rem 3rem;
  background: gold;
  background-image: linear-gradient(to top left, #fbab7e 0%, #f7ce68 100%);
  color: #000;
  border: none;
}
.note .card__corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  background: linear-gradient(73deg, #f7ce68d7 15%, #937c3fd7 87%);
}
.ele-wrapper .head-2 {
  padding-block: 2rem;
  font-size: 2.4rem;
  font-family: "Julee", cursive;
  letter-spacing: 0.25rem;
  font-style: italic;
}
.ele-wrapper .social {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.social a {
  position: relative;
  text-decoration: none;
  aspect-ratio: 1;
  border-radius: 50%;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social a i {
  font-size: 4rem;
  color: #fff;
}
.social a:hover {
  box-shadow: 0 0 5px var(--clr-g3-1), 1px 1px 5px var(--clr-g3-2);
}
.social a:hover > i {
  transform: scale(1.2);
  background: var(--grad-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note .card__corner .card__corner-triangle {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 5rem 5rem 0;
  border-color: transparent #232323 transparent transparent;
  box-shadow: -0.3rem 0.1rem 0.5rem rgb(164, 118, 0);
}
.note h1 {
  font-size: 3.5rem;
  padding-bottom: 2rem;
  font-family: "Permanent Marker", cursive;
  color: var(--text-clr-1);
}
.note p {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  font-style: italic;
  word-spacing: 0.2rem;
  font-family: "Satisfy", cursive;
}
.note .imag {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  padding-block: 2rem;
  padding-inline: 2rem;
  transform: rotate(-9deg);
  pointer-events: none;
}

.imag img {
  float: right;
  padding-right: 4rem;
  max-width: 24rem;
}

.contact-wrapper .form-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  background: transparent;
}
.form-wrapper h1 {
  width: fit-content;
  padding-inline: 2rem;
  margin-inline: auto;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 900;
  font-family: "Mulish", sans-serif;
  background: var(--grad-4a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  font-style: italic;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 1.6rem 0;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
form .field {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  gap: 1.6rem;
}
.field label {
  font-size: 2rem;
  width: 9ch;
}
.ip-tex,
.ta {
  position: relative;
  margin: 0.3rem;
  margin-bottom: 0;
  border-radius: 0.4rem;
  width: 100%;
  padding-bottom: 0.3rem;
  background: var(--hov-grad);
}
.field input,
.field textarea {
  position: relative;
  padding: 0.7rem;
  font-size: 1.8rem;
  width: 100%;
  color: #f9f9f9;
  font-weight: 600;
  border: none;
}
.field input:hover::after {
  width: 80%;
}
.field textarea {
  height: 16rem;
}
.ip-tex:hover,
.ta:hover {
  margin: 0px;
  padding: 0.3rem;
}
.ip-tex:hover::before,
.ta:hover::before {
  display: none;
}
.form-wrapper .frm-sub {
  position: relative;
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 14ch;
}
.frm-sub .btn {
  width: 100%;
  padding: 0.2rem;
  background: var(--grad-3);
  border: none;
  width: 90%;
  border-radius: 0.5rem;
}

.btn button {
  min-width: minmax(50ch, 100%);
  position: relative;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 40px;
  letter-spacing: 4px;
  margin: auto;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
}
.btn button b {
  font-weight: 700;
  background: var(--grad-3);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0rem;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
  border: 0.4rem var(--bg-clr-1);
}
.btn:hover {
  box-shadow: 0.5rem 0.4rem 2.1rem 1rem var(--clr-g3-2),
    -0.5rem -0.4rem 2.1rem 0.3rem var(--clr-g3-1);
  border: 0.3rem solid var(--bg-clr-1);
}
.btn:hover > button,
.btn:hover > button b,
.btn button:hover,
.btn button:hover > b {
  -webkit-text-fill-color: var(--bg-clr-1);
  background: transparent;
}
.footer {
  padding: 0;
  height: 4rem;
  width: 100%;
  background: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer footer {
  background: var(--hov-grad);
  font-size: 1.6rem;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1580px) {
  .proj-item .text-wrapper h1 {
    position: relative;
  }
  .proj-item .text-wrapper p {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1580px) {
  .welcome-wrapper .text-wrapper h1 {
    font-size: 4rem;
  }
  .welcome-wrapper .text-wrapper h2 {
    font-size: 3rem;
  }
  .welcome-wrapper .text-wrapper p {
    width: 50rem;
    font-size: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  section{
    overflow-x: hidden;
  }
 
  .welcome-wrapper .text-wrapper p {
    width: auto;
  }
  .welcome {
    height: fit-content;
    overflow: hidden;
  }
  .welcome-container {
    width: 100%;
    padding: 1.6rem 0;
    margin: 0;
    height: fit-content;
  }
  .welcome-wrapper {
    padding-top: 10rem;
    /* flex-direction: column-reverse; */
    width: 100%;
  }
  .welcome-wrapper .text-wrapper h1 {
    font-size: 3.5rem;
  }
  .welcome-wrapper .text-wrapper h2 {
    font-size: 3rem;
  }
  .welcome-wrapper .text-wrapper p {
    font-size: 1.8rem;
  }
  .welcome-wrapper .model {
    padding: 10rem;
  }
  .welcome-wrapper .text-wrapper {
    width: 60%;
  }
  .abt-img {
    width: 100%;
  }
  .about {
    height: fit-content;
    width: 100%;
  }
  .about-wrapper {
    height: fit-content;
    width: 100%;
  }
  .abt-img {
    height: auto;
    width: 80%;
  }
  .skills {
    height: fit-content;
    padding: 0;
  }
  .skills-wrapper {
    padding: 0;
    margin: 0;
    padding-top: 7rem;
  }
  .skills-wrapper .text-wrapper h1 {
    padding-top: 0;
    width: fit-content;
    text-align: center;
    margin: auto;
  }
  .skills-wrapper {
    width: 100%;
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .skills-wrapper .text-wrapper {
    width: 80%;
  }
  .proj-links {
    width: 100%;
  }
  .contact-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 1106px) {
  .proj-item .text-wrapper h1 {
    font-size: 3.5rem;
  }
  .contact-wrapper .ele-wrapper {
    width: 100%;
  }
  .note h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1040px) {
  .proj-item .proj-img {
    margin: auto;
  }

  .contact {
    height: fit-content;
  }
  .contact-wrapper .ele-wrapper {
    width: 80%;
    margin: auto;
  }
  .contact-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .field label {
    width: 10ch;
  }
  .project-wrapper {
    width: 90%;
  }
  .proj-item {
    width: 100%;
  }
  .proj-item .text-wrapper h1 {
    font-size: 3rem;
  }
  .proj-links {
    gap: 1rem;
    width: 100%;
    padding-bottom: 2rem;
  }
  .proj-links .btn1 i,
  .proj-links .btn2 i {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 850px) {
  .welcome {
    height: 100%;
    overflow: hidden;
  }
  #canvas {
    display: none;
  }
  .welcome-container {
    position: relative;
    width: 100%;
    margin: 0;
    height: fit-content;
    padding-bottom: 20rem;
  }
  .welcome-wrapper {
    /* padding-top: 10rem; */
    flex-direction: column-reverse;
    width: 100%;
    height: fit-content;
  }
  .welcome-wrapper .text-wrapper {
    width: 100%;
  }
  .welcome-wrapper .text-wrapper h1 {
    font-size: 3rem;
  }
  .welcome-wrapper .text-wrapper h2 {
    font-size: 2.5rem;
  }
  .skills-wrapper .text-wrapper p,
  .about-wrapper .text-wrapper p,
  .welcome-wrapper .text-wrapper p {
    font-size: 2rem;
    text-align: left;
    font-weight: 600;
  }
  .about {
    height: fit-content;
    width: 100%;
  }
  .about-wrapper {
    height: fit-content;
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  .about-wrapper .text-wrapper h1 {
    font-size: 5rem;
  }
  .about-wrapper::after {
    height: 100%;
    width: 100%;
  }
  .abt-img {
    height: auto;
    width: 80%;
  }
  .skills-wrapper .text-wrapper {
    width: 100%;
  }
  .skills-wrapper .text-wrapper .heading {
    width: fit-content;
  }
  .head {
    align-self: center;
    width: fit-content;
    font-size: 7rem;
    padding-block: 1rem 2rem;
    font-weight: 900;
  }
  .container-project {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .project-wrapper {
    width: 95%;
  }
  .proj-item {
    padding: 0;
  }
  .proj-img {
    width: 80%;
  }
  .proj-item .text-wrapper {
    display: none;
  }
  .contact-wrapper .ele-wrapper {
    width: 100%;
  }
  .ele-wrapper .note {
    width: 80%;
  }
  .form-wrapper h1 {
    font-size: 3rem;
  }
 
  .field label {
    font-size: 1.9rem;
  }
  .form-wrapper .frm-sub {
    padding: 0;
  }
}
@media screen and (max-width: 450px) {
  .field{
    flex-direction: column;
  }
  .head {
    font-size: 5rem;
  }
  .proj-img {
    width: 100%;
  }
}
