@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&family=Gloria+Hallelujah&family=Itim&family=Kalam:wght@400;700&family=Permanent+Marker&family=Reenie+Beanie&display=swap");

/* CSS Document */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: url(../images/blue-feather.png), auto;
}
html {
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  width: 100%;
  background: #000;
}
/* font settings */
* {
  font-family: "Finger Paint", cursive;
}
p {
  font-family: "Kalam", cursive;
  cursor: text;
}
nav,
.logo,
b {
  font-family: "Reenie Beanie", cursive;
}
li,
a {
  font-family: "Reenie Beanie", cursive;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
/*  */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #3b3b3b;
}
::-webkit-scrollbar-thumb:hover {
  background: #d14836;
}
/* nav bar start */
nav {
  position: fixed;
  display: flex;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  top: 0;
  pointer-events: none;
  width: 100%;
  background-color: #262626;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  padding: 0px 5%;
}
nav ul {
  display: flex;
  position: fixed;
  float: right;
  right: 10px;
}
.logo {
  pointer-events: visible;
  position: relative;
}
.logo,
.logo b {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}
.logo b {
  background: -webkit-linear-gradient(
    55deg,
    hsl(250deg 100% 50%) 0%,
    hsl(260deg 100% 50%) 10%,
    hsl(266deg 100% 50%) 17%,
    hsl(271deg 100% 50%) 22%,
    hsl(276deg 100% 50%) 27%,
    hsl(280deg 100% 50%) 31%,
    hsl(284deg 100% 50%) 35%,
    hsl(287deg 100% 50%) 39%,
    hsl(291deg 100% 50%) 42%,
    hsl(294deg 100% 50%) 46%,
    hsl(297deg 100% 50%) 49%,
    hsl(300deg 100% 50%) 53%,
    hsl(305deg 100% 50%) 56%,
    hsl(311deg 100% 50%) 59%,
    hsl(316deg 100% 50%) 63%,
    hsl(322deg 100% 50%) 66%,
    hsl(327deg 100% 50%) 70%,
    hsl(332deg 100% 50%) 74%,
    hsl(337deg 100% 50%) 78%,
    hsl(342deg 100% 50%) 82%,
    hsl(347deg 100% 50%) 87%,
    hsl(352deg 100% 50%) 92%,
    hsl(0deg 100% 50%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.toggle {
  font-size: 1.5rem;
  display: none;
}
#audio_icon {
  font-size: 23px;
  background: -webkit-linear-gradient(
    55deg,
    hsl(250deg 100% 50%) 0%,
    hsl(260deg 100% 50%) 10%,
    hsl(266deg 100% 50%) 17%,
    hsl(271deg 100% 50%) 22%,
    hsl(276deg 100% 50%) 27%,
    hsl(280deg 100% 50%) 31%,
    hsl(284deg 100% 50%) 35%,
    hsl(287deg 100% 50%) 39%,
    hsl(291deg 100% 50%) 42%,
    hsl(294deg 100% 50%) 46%,
    hsl(297deg 100% 50%) 49%,
    hsl(300deg 100% 50%) 53%,
    hsl(305deg 100% 50%) 56%,
    hsl(311deg 100% 50%) 59%,
    hsl(316deg 100% 50%) 63%,
    hsl(322deg 100% 50%) 66%,
    hsl(327deg 100% 50%) 70%,
    hsl(332deg 100% 50%) 74%,
    hsl(337deg 100% 50%) 78%,
    hsl(342deg 100% 50%) 82%,
    hsl(347deg 100% 50%) 87%,
    hsl(352deg 100% 50%) 92%,
    hsl(0deg 100% 50%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul li a {
  width: 100%;
  letter-spacing: 2px;
  padding: 10px;
  margin: 20px;
  font-size: 1.7rem;
  font-weight: 600;
  color: #ffffff;
  pointer-events: visible;
}
nav ul li a:hover {
  background: -webkit-linear-gradient(
    55deg,
    hsl(250deg 100% 50%) 0%,
    hsl(260deg 100% 50%) 10%,
    hsl(266deg 100% 50%) 17%,
    hsl(271deg 100% 50%) 22%,
    hsl(276deg 100% 50%) 27%,
    hsl(280deg 100% 50%) 31%,
    hsl(284deg 100% 50%) 35%,
    hsl(287deg 100% 50%) 39%,
    hsl(291deg 100% 50%) 42%,
    hsl(294deg 100% 50%) 46%,
    hsl(297deg 100% 50%) 49%,
    hsl(300deg 100% 50%) 53%,
    hsl(305deg 100% 50%) 56%,
    hsl(311deg 100% 50%) 59%,
    hsl(316deg 100% 50%) 63%,
    hsl(322deg 100% 50%) 66%,
    hsl(327deg 100% 50%) 70%,
    hsl(332deg 100% 50%) 74%,
    hsl(337deg 100% 50%) 78%,
    hsl(342deg 100% 50%) 82%,
    hsl(347deg 100% 50%) 87%,
    hsl(352deg 100% 50%) 92%,
    hsl(0deg 100% 50%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sticky {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.active {
  color: #2d2a2a;
  font-weight: bold;
}
/* nav bar ends */

section {
  position: relative;
  height: 100vh;
  width: 100%;
  padding-top: 65px;
}
.banner {
  background-image: url("../images/qqrst.jpg");
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #131314; */
  width: 100%;
  display: block;
  padding: 0;
}
#canvas {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: transparent;
}
.canvas.hidden {
  display: none;
}

.bottom {
  position: absolute;
  bottom: 20px;
  pointer-events: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  font-size: 1.2em;
  color: rgb(102, 102, 102);
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}
.bottom .right {
  writing-mode: vertical-rl;
}
.bottom .left {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/*  */
#box {
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 50px;
  float: left;
  background: none;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 10px, 20px;
  font-family: "Permanent Marker", cursive;
  pointer-events: none;
}
#part {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}
.part-1 h2 {
  font-size: 2.5em;
}
.part-2 h2 {
  font-size: 2.8em;
}

.alpha {
  font-family: "Finger Paint", cursive;
}
.alpha {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 1px;
  margin: 4px;
  pointer-events: all;
}
.alpha:hover {
  background: -webkit-linear-gradient(
    55deg,
    hsl(250deg 100% 50%) 0%,
    hsl(260deg 100% 50%) 10%,
    hsl(266deg 100% 50%) 17%,
    hsl(271deg 100% 50%) 22%,
    hsl(276deg 100% 50%) 27%,
    hsl(280deg 100% 50%) 31%,
    hsl(284deg 100% 50%) 35%,
    hsl(287deg 100% 50%) 39%,
    hsl(291deg 100% 50%) 42%,
    hsl(294deg 100% 50%) 46%,
    hsl(297deg 100% 50%) 49%,
    hsl(300deg 100% 50%) 53%,
    hsl(305deg 100% 50%) 56%,
    hsl(311deg 100% 50%) 59%,
    hsl(316deg 100% 50%) 63%,
    hsl(322deg 100% 50%) 66%,
    hsl(327deg 100% 50%) 70%,
    hsl(332deg 100% 50%) 74%,
    hsl(337deg 100% 50%) 78%,
    hsl(342deg 100% 50%) 82%,
    hsl(347deg 100% 50%) 87%,
    hsl(352deg 100% 50%) 92%,
    hsl(0deg 100% 50%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: ani 0.45s ease-in-out 1;
}

@keyframes ani {
  0% {
    transform: scale(1, 0.5);
  }
  16% {
    transform: scale(1, 0.5);
  }
  25% {
    transform: scale(1, 0.5);
  }
  32% {
    transform: scale(0.8, 1.6);
  }
  48% {
    transform: scale(0.5, 1);
  }
  64% {
    transform: scale(0.6, 1.2);
  }
  80% {
    transform: scale(1.2, 1);
  }
  87% {
    transform: scale(1.15, 1);
  }
  90% {
    /* This will add the shaking effect one time almost at the end   */
    transform: scale(0.8, 1);
  }
  95% {
    transform: scale(1.05, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* about section*/
.about {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .container {
  padding: 30px;
  height: 90%;
  width: 85%;
  border-radius: 40px;
  margin: auto;
  background: #131313;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 15px #3f3f3f;
}
.about .container .image {
  height: 80%;
  padding: 2px;
  margin-left: 75px;
  border-radius: 50% 50%;
  overflow: hidden;
  background: rgb(5, 1, 62);
  background: linear-gradient(
    55deg,
    hsl(250deg 100% 50%) 0%,
    hsl(260deg 100% 50%) 10%,
    hsl(266deg 100% 50%) 17%,
    hsl(271deg 100% 50%) 22%,
    hsl(276deg 100% 50%) 27%,
    hsl(280deg 100% 50%) 31%,
    hsl(284deg 100% 50%) 35%,
    hsl(287deg 100% 50%) 39%,
    hsl(291deg 100% 50%) 42%,
    hsl(294deg 100% 50%) 46%,
    hsl(297deg 100% 50%) 49%,
    hsl(300deg 100% 50%) 53%,
    hsl(305deg 100% 50%) 56%,
    hsl(311deg 100% 50%) 59%,
    hsl(316deg 100% 50%) 63%,
    hsl(322deg 100% 50%) 66%,
    hsl(327deg 100% 50%) 70%,
    hsl(332deg 100% 50%) 74%,
    hsl(337deg 100% 50%) 78%,
    rgb(236, 0, 71) 82%,
    hsl(347deg 100% 50%) 87%,
    hsl(352deg 100% 50%) 92%,
    hsl(0deg 100% 50%) 100%
  );
  /* width: 25%; */
}
.about .container .image img {
  border-radius: 50% 50%;
  overflow: hidden;
  height: 100%;
}
.about .container .text {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  color: #fff;
  text-align: justify;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.about .container .text p {
  font-size: 18px;
}
/* skills */
.skills {
  height: 80vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills .text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: auto;
  width: 50%;
  background-color: #000;
  height: 80%;
  border-radius: 30px;
}
.skills .text p {
  font-size: 20px;
  text-align: justify;
}
.skills .map {
  margin: auto;
  width: 40%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map #holder svg {
  height: 100%;
  width: auto;
  background: none;
}
.map #holder svg rect {
  height: 100%;
  width: 48vw;
  background: none;
}
.map #holder a {
  font-size: 1em;
}
.map #holder text {
  font-size: 1.5em;
  fill: #cdcdcd;
}

/* project */
.project {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.project .container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 90%;
  height: 100%;
}
.project .container h1 {
  text-align: center;
  font-size: 2em;
  padding: 20px;
  color: #e8e8e8;
}
/*  */
/* Value Slider */
.owl-stage-outer,
.owl-stage {
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}
.owl-item:not(.active) {
  opacity: 0;
  transform: scale(0.6);
  transition: 0.3s;
}

.owl-item.active:not(.big) {
  opacity: 0.3;
  transform: scale(0.8);
  z-index: 0;
  transition: 0.3s;
}

.owl-item.big {
  opacity: 1;
  z-index: 10;
}
.owl-item.big .itm-wrapper {
  box-shadow: 1px 2px 10px white;
}
.slider-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.itm-wrapper {
  margin: 5px;
  background: #12192a;
  height: 100%;
  width: 80%;
  display: flex;
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
}
.itm-wrapper img {
  width: 80%;
  height: 40%;
  border: 3px double whitesmoke;
  box-shadow: 2px 2px 10px gray;
  margin-bottom: 20px;
}
.itm-wrapper h2 {
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 1.8em;
  color: #f3f3f3;
}
.itm-wrapper p {
  padding: 10px;
  font-size: 16px;
  text-align: justify;
  color: #f3f3f3;
}
.owl-nav {
  top: 40%;
  pointer-events: none;
  position: absolute;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.owl-nav span {
  display: flex;
  pointer-events: all;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 2px;
  text-align: center;
  width: auto;
  font-weight: 700;
  padding: 100% 20px;
}
.owl-nav span:hover {
  cursor: pointer;
  background: transparent;
}
/*  */
.project .container .inside-container {
  display: none;
  justify-content: center;
  height: 80%;
  min-width: 95%;
  gap: 10px;
  padding: 10px;
  margin: 0 auto;
  cursor: pointer;
}
.inside-container .items {
  height: 100%;
  width: 50%;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  background: #12192a;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inside-container .items h2 {
  color: #cdcdcd;
  text-align: center;
}
.inside-container .items p {
  color: white;
  text-align: justify;
  font-size: 16px;
  display: none;
  background: #000000d3;
}
.inside-container .items:hover h2 {
  display: none;
}
.inside-container .items:hover p {
  display: block;
}
/*  */
.p1:hover {
  background: #000000d2;
  background-image: url("../images/Project1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

.p2:hover {
  background: #000000e8;
  background-image: url("../images/Project2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}
.p3:hover {
  background: #000000d2;
  background-image: url("../images/Project3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}
.p4:hover {
  background: #000000d2;
  background-image: url("../images/project4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}
.p5:hover {
  background: #000000d2;
  background-image: url("../images/Project5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}
.p6:hover {
  background: #000000d2;
  background-image: url("../images/Project6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}
.p7:hover {
  background: #000000d2;
  background-image: url("../images/Project7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}
/*contact  */
.contact {
  margin-top: 65px;
  height: calc(100% - 65px);
}
.contact h1 {
  text-align: center;
  color: whitesmoke;
  font-size: 2em;
  padding: 10px;
}
.contact .container {
  display: flex;
  width: 100%;
  height: 100%;
}
.contact .container .right,
.contact .container .left {
  height: 100%;
  margin: auto;
  width: 45%;
}
.contact .container .left {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.contact .container .left .soc {
  width: 90%;
  height: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.soc a li {
  display: inline-flex;
  text-align: justify;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
}

.frame {
  padding: 2px;
  height: 50%;
  width: 90%;
  background: linear-gradient(
    45deg,
    rgba(0, 186, 250, 1) 2%,
    rgba(255, 0, 249, 1) 28%,
    rgba(16, 0, 255, 1) 57%,
    rgba(255, 0, 0, 1) 100%
  );
}
iframe {
  filter: invert(90%) grayscale(1);
  height: 100%;
  width: 100%;
  padding: 0;
}
.contact .container .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .container .right footer {
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
}

.form {
  margin-top: 50px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: #000; */
  cursor: pointer;
}
.field {
  margin: 10px;
  display: inline-flex;
  width: 90%;
  height: 90%;
  justify-content: space-between;
}
input {
  width: 80%;
  padding: 10px;
  height: 40px;
  cursor: pointer;
  font-family: Calibri;
  font-size: 18px;
  font-weight: bold;
}
label {
  color: whitesmoke;
  font-weight: bolder;
  font-size: 1.2em;
}
.message {
  padding: 10px;
  width: 80%;
  text-align: left;
  height: 150px;
  font-family: Calibri;
  font-size: 18px;
  font-weight: bold;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: "Kalam", cursive;
}
button {
  margin-top: 20px;
  font-weight: 700;
  font-size: 1em;
  padding: 10px;
  width: 90%;
  border: 4px double black;
  cursor: pointer;
}
button:hover {
  background-color: #000;
  color: white;
  border: 4px double whitesmoke;
}
/* social icons  */
.social {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  z-index: 100;
}
.social div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  background-color: #020202;
  border: 1px solid #3b3b3b;
  box-shadow: 2px 2px 12px rgba(167, 167, 167, 0.2);
}
.social div i {
  color: white;
  font-size: 20px;
}
.social div:hover > i {
  transition: all ease 0.5s;
  background: -webkit-linear-gradient(
    55deg,
    hsl(250deg 100% 50%) 0%,
    hsl(260deg 100% 50%) 10%,
    hsl(266deg 100% 50%) 17%,
    hsl(271deg 100% 50%) 22%,
    hsl(276deg 100% 50%) 27%,
    hsl(280deg 100% 50%) 31%,
    hsl(284deg 100% 50%) 35%,
    hsl(287deg 100% 50%) 39%,
    hsl(291deg 100% 50%) 42%,
    hsl(294deg 100% 50%) 46%,
    hsl(297deg 100% 50%) 49%,
    hsl(300deg 100% 50%) 53%,
    hsl(305deg 100% 50%) 56%,
    hsl(311deg 100% 50%) 59%,
    hsl(316deg 100% 50%) 63%,
    hsl(322deg 100% 50%) 66%,
    hsl(327deg 100% 50%) 70%,
    hsl(332deg 100% 50%) 74%,
    hsl(337deg 100% 50%) 78%,
    hsl(342deg 100% 50%) 82%,
    hsl(347deg 100% 50%) 87%,
    hsl(352deg 100% 50%) 92%,
    hsl(0deg 100% 50%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*  */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111213;
  height: 50px;
  text-align: center;
  color: white;
}
footer b {
  font-size: 1.8em;
}
/* responsive section */
@media (max-width: 1250px) {
  .about .container .image {
    margin: 0;
  }
  .project .container .inside-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-width: 95%;
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
  }
  .project {
    height: fit-content;
  }
  .project .container {
    height: 100%;
  }
  .slider-container {
    display: none;
  }
  .project .container .inside-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
  .inside-container .items {
    height: 350px;
    width: 400px;
  }
}

@media screen and (max-width: 1100px) {
  .banner {
    display: none;
  }
  .about {
    height: 100vh;
    padding: 0;
  }
  .about .container {
    border-radius: 20px;
    margin: auto;
    width: 90%;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .about .container .image {
    margin: 0;
  }
  .about .container .text {
    margin-top: 20px;
    width: 100%;
    display: block;
    padding: 10px;
  }
  .about .container .text p {
    font-size: 18px;
  }
}
@media screen and (max-width: 1000px) {
  .skills {
    padding-top: 67px;
    flex-direction: column-reverse;
    min-height: 100vh;
    height: fit-content;
  }
  .skills .text {
    width: 80%;
    padding-right: 15px;
    border-radius: 0%;
  }
}
@media screen and (max-width: 890px) {
  section {
    margin-top: 65px;
  }
  nav {
    top: 0;
    height: 60px;
    pointer-events: all;
  }
  nav ul {
    margin: 0px;
    padding: 0px;
    background-color: #131313;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 199;
    display: none;
  }
  nav ul li {
    padding: 10px;
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  nav ul li a,
  nav ul li a {
    font-size: 1.4em;
    text-transform: uppercase;
    color: #cdcdcd;
  }
  nav ul li a:hover {
    color: #121212;
  }

  .toggle {
    display: block;
  }

  .toggle:before {
    font-family: FontAwesome;
    content: "\f0c9";
    line-height: 30px;
    color: white;
    z-index: 200;
  }
  .toggle.active:before {
    font-family: FontAwesome;
    content: "\f00d";
    position: fixed;
    right: 25px;
    line-height: 0px;
  }
  nav.active ul {
    display: flex !important;
  }
  .bottom {
    display: none;
  }
  .about {
    height: fit-content;
  }
  .about .container .text p {
    font-size: 16px;
  }
  .about .container .image img {
    height: 500px;
  }
  .skills {
    height: 100vh;
  }
  .skills .text {
    height: 100%;
    width: 80%;
  }
  .skills .text p {
    font-size: 18px;
  }
  .project .container .inside-container {
    grid-template-columns: auto;
    width: 80%;
  }
  .project .container .inside-container .items {
    width: 100%;

    border: 2px solid black;
  }
  .project .container .inside-container .items p {
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow-y: scroll;
  }
  .contact .container {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  .contact .container .left,
  .contact .container .right {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .contact .container .left .soc {
    font-size: 10px;
  }
  .form {
    width: 100%;
  }

  label {
    font-size: 14px;
  }
  .frame {
    display: none;
  }
  footer {
    padding: 30px;
  }
}
@media screen and (max-width: 790px) {
  .about .container .image,
  .about .container .image img {
    height: 400px;
    width: 400px;
    margin: 0;
  }
  .skills .map {
    display: none;
  }
  .map .globe {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .about .container .image,
  .about .container .image img {
    height: 300px;
    margin: 0;
    width: 300px;
  }
  .skils .text {
    padding: 0;
    margin: 0;
  }
}
/* responsive section ends */
